:root {
    --margin: 0 10px
}

body {
    margin: 0px;
    padding: 30px;
    font-family: Arial, Helvetica, sans-serif;
    overflow: hidden;
    background: #313131;
    display: flex;
    justify-content: center;
}

canvas {
    box-shadow: -3px 2px 9px 6px black;
    cursor: pointer;
}



/* Toolbar position */
.tools {
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin-top: 15px;
}

/* style toolbar */
.tools .color-field {
    height: 40px;
    width: 40px;
    min-height: 40px;
    min-width: 40px;
    cursor: pointer;
    display: inline-block;
    box-sizing: border-box;
    border-radius: 50%;
    border: 2px solid white;
    align-self: center;
}

/* style buttons */
.tools .button {
    align-self: center;
    width: 100px;
    height: 40px;
    border: 2px solid white;
    cursor: pointer;
    color: white;
    background: #222;
    font-weight: bold;
    margin: var(--margin);
}

/* style color picker */
.color-picker {
    align-self: center;
    margin: var(--margin);
    height: 50px;
}

/* style stroke bar */
.pen-range {
    align-self: center;
    margin: var(--margin);
}